.dotsLoader {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    margin-left: 30px;
    position: relative;
    color: #c8ced4;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 7px 0 0 -2px,  18px 0 0 -2px,  -7px 0 0 -2px,  -18px 0 0 -2px;
    }
    25% {
      box-shadow: 7px 0 0 -2px,  18px 0 0 -2px,  -7px 0 0 -2px,  -18px 0 0 2px;
    }
    50% {
      box-shadow: 7px 0 0 -2px,  18px 0 0 -2px,  -7px 0 0 2px,  -18px 0 0 -2px;
    }
    75% {
      box-shadow: 7px 0 0 2px,  18px 0 0 -2px,  -7px 0 0 -2px,  -18px 0 0 -2px;
    }
    100% {
      box-shadow: 7px 0 0 -2px,  18px 0 0 2px,  -7px 0 0 -2px,  -18px 0 0 -2px;
    }
  }