@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: local("Nunito-Regular"), url(/Nunito-Regular.woff2);
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito-Medium"), url(/Nunito-Medium.woff2);
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito-SemiBold"), url(/Nunito-SemiBold.woff2);
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito-Bold"), url(/Nunito-Bold.woff2);
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito-ExtraBold"), url(/Nunito-ExtraBold.woff2);
  font-display: swap;
  font-weight: 900;
}

:root {
  --black-gradient: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;

  height: 100%;
  width: 100vw;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

.w110 {
  width: 30rem;
}

.w-max-main {
  max-width: 2300px;
}

.dark div[id="root"] {
  background-color: black;
}
div[id="root"] {
  background-color: white;
  transition: 0.2s background-color;
}

.bodyhidden {
  overflow-y: hidden;
}

@layer base {
  body {
    @apply text-black;
  }
}

@layer components {
  .flexCenter {
    @apply flex justify-center items-center;
  }
}
